* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff url(images/fundo.png) repeat-x left top;
}

header {
    background: url(images/detalhe-topo.png) no-repeat top right;
    width: 750px;
    height: 180px;
    margin: 0 auto;
}

h1 {
    background: url(images/logo.png) no-repeat bottom;
    width: 152px;
    height: 91px; /* margin-top: 25px */
    text-indent: -3000px;
}

nav ul {
    list-style: none;
}

#main-menu a{
    background: firebrick url(images/divisor.png) repeat-y left top;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    margin-top: 40px;
    float: left;
}

#main-menu a:hover, #main-menu .current-page {
    background-color: crimson;
    color: rgb(75, 0, 15);
    padding: 10px 16px;
    border-radius: 0 0 10% 10%;
}

#main-menu .current-page {
    color: white;
}